#contactlist{
    list-style-type: none;
    display: inline;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-items: center;
}
li
{
    display: inline;
    gap: 0.5rem;
    padding: 0.5rem;
}
.contactme
{
    flex: 3;
    min-width: 15%;
    max-width: 25%;
    padding: 2rem;
    justify-items: center;
    border-right: 1px solid #888585;
}
.messagebox
{
    flex: 4;
    min-width: 25%;
    max-width: 60%;
    padding: 2rem;
    justify-items: center;
    
}
#box{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #575755;
    font-family: monospace;
    gap: 1rem;
}
input, textarea{
    font-size: 1.2rem;
    line-height: 1.6;
    color: #424241;
    font-family: monospace;
    gap: 1rem;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #888585;
    padding: 0.5rem;
    width: 100%
}
button{
    font-size: 1.2rem;
    color: #e6e6e2;
    background-color: #313030;
    font-family: monospace;
    gap: 1rem;
    border-radius: 7%;
    border: none;
    height: 35px;
    width: 150px;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    transform: scale(0.9);
}
textarea{
    min-height: 100px;
    max-height: 400px;
}

img{
    height: 38px;
    width: 38px;
}

img:hover{
    transform: scale(1.1);
}
img:active{
    transform: scale(0.9);
}
@media (max-width: 768px)
{
    .contactme{
        max-width: 90%;
        text-align: center;
        border-right: none;
        border-bottom: 1px solid #313030;
    }
    .messagebox{
        max-width: 90%;
        text-align: center;
    }
}