@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*
{
    font-family: "JetBrains Mono", monospace;
    /*background-color: #333232;*/
    color: white;
    animation: onload 3s ease-in-out -1s;
}

body{
    /* background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed; */
    background-color: black;
}

.invert {
    filter: invert(1);
}
.bgvid{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
    opacity: 0.5;
    
}
.bgvid video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
}

/* Navigation bar design */
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    padding: 10px 40px;
    justify-content: right;
    font-size: 20px;
    margin: 0;
    border-bottom: 1px solid black;
}
/* ------------------------ */
/* Front panel */
.front {
    display: flex;
    gap: 20px;
    transform: scale(0.8);
    padding: 0;
}
.about {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    padding: 40px;
}
.about h1{
    font-size: 40px;
    position: relative;
    right: 20px;
}
.about p{
    color: rgb(194, 192, 192);
    font-size: 1.5em;
}
.about a{
    text-decoration: none;
    color:#161615;
    background-color: rgb(248, 243, 243);
    width: 10%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px #0c0c0c;
    transform: scale(1,1);
    transition: transform 1s ease;
}
.about a:hover{
    transform: scale(1.2,1.2);
}
/* ----------- */
/* Front profile pic */
.front img{
    width: 23vw;
    margin: 35px;
    position: relative;
    left: 50px;
    transform: scale(1,1);
    transition: transform 2s ease;
}
.front img:hover {
    transform: scale(0.9,0.9);
    cursor: crosshair;
}
/* ------------------------ */
/* Skills */
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}
.skills ul{
     display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding-left: 0px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    transform: scale(1,1);
    transition: transform 2s ease;
}


.skills ul li{
    position: static;
    transform: scale(1.1,1.1);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 243, 243);
    color:#161615;
    gap: 5px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px #0c0c0c;
    filter: invert(0);
    transition: all 0.8s ease;
}
.skills ul li:hover{
    position: relative;
    bottom: 10px;
    filter: invert(1);
}

/* ------------------------ */
/* Projects */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.projects ul{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    list-style: none;
    padding-left: 0px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.projects ul li{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(248, 243, 243);
    border-radius: 10px;
    box-shadow: 10px 10px #0c0c0c;
    transform: scale(1,1);
    transition: transform 2s ease;
}
.projects ul li:hover{
    transform: scale(0.9,0.9);
    cursor: crosshair;
}
.projects li > h2 {
    font-weight: bolder;
    font-size: larger;
}
.projects li > img {
    width: 40vw;
    border-radius: 10px;
}
.projects li > p{
    width: 40vw;
    font-size: 100%;
}
.links {
    display: flex;
    margin-bottom: 10px;
    gap: 30px;
}
.links a{
    color: #161615;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 10px;
    border: 1px solid #161615;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 1s ease;
}
.links a:hover{
    border: 1px solid #161615;
    background-color: #161615;
    color: rgb(248, 243, 243);
}
.links a:hover > img{
    filter: invert(1);
}
/* ------------------------ */
/* Experience */
.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    transform: scale(0.9);
}
.experience ul{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    list-style: none;
    padding-left: 0px;
    margin: 10px;
}
.experience li, li > h2, li > h3, li > p{
    background-color: rgb(248, 243, 243);
    color: #161615;
    width: 30vw;
    font-size: 100%;
    text-align: center;
}
.experience li {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 10px 10px #0c0c0c;
    transform: scale(1,1);
    transition: transform 2s ease;
}

.experience li:hover{
    transform: scale(0.9,0.9);
    cursor: crosshair;
}
.experience h2{
    font-size: 1.75em;
}
/*--------------------------*/
/* Education */
.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    transform: scale(0.9);
}
.eduinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 10px 10px #0c0c0c;
    transform: scale(1,1);
    transition: transform 2s ease;
    background-color: rgb(248, 243, 243);
    padding: 20px;
    gap: 0px;
}
.eduinfo > *{
    color: #161615;
    text-align: center;

}
.eduinfo:hover{
transform: scale(0.9,0.9);
    cursor: crosshair;
}

/* ------------------------ */
/* Animation key frame */
@keyframes onload {
    from {
        filter: blur(4px);
    }
    to {
        filter: blur(0px);
    }
}
/* ------------------------ */

/* Footer styling */
footer {
    position: relative;
    bottom: 0;
    padding: 10px 0px;

    margin: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social ul{
    list-style: none;
    height: 5vh;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}   
.social li{
    display: flex;
    width: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.social img {
    position: static;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 1s ease;
}
.social img:hover{
    transform: scale(1.4,1.4);
}
.made {
    color: #161615;
    background-color: rgb(248, 243, 243);
    width: 250px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 30px;
    box-shadow: 5px 5px #0c0c0c;
    transform: scale(1,1);
    transition: transform 2s ease;
}
.made:hover {
    transform: scale(0.9,0.9);
    cursor: crosshair;
}
/* Blurness */

/* ---------------------- */

/*-----------------------*/


/* Responsive */
@media only screen and (max-width: 1020px) {
    .front {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .front img {
        position: static;
        /* height: 320px; */
        margin: 20px;
        /* width: 250px; */
        width: 60vw;
    }
    .front p{
        font-size: 20px;
    }
    .about a{
        width: 35%;
    }
    
}
@media only screen and (max-width: 590px) {
    .experience ul{
        gap: 20px;
    }
    .experience li{
        width: 60vw;
        margin: -5% 5%;
        transform: scale(0.7);
    }
    
    .experience li, li > h2, li > h3, li > p{
    width: 90%;
}
.eduinfo{
    gap: 20px;
}
.eduinfo > *{
        width: 60vw;
        margin: -5% 5%;
        transform: scale(0.7);
        font-size: 20px;
}
.skills ul{
    padding: 10px;
    align-items: center;
    justify-content: center;
}
}
@media screen and (max-width: 767px) {
  /* body {
    background-image: url("img/backgroundpotrait.png");
    background-size: cover;
    background-position: center;
  } */
  .projects ul li{
    width: 80vw;
  }
  .projects li > img{
    width: 70vw;
  }
  .projects li > p{
    width: 70vw;
    font-size: 10px;
}
.bgvid{
    top: 10px;
    right: calc(100vw - 60px);
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  body {
    /* background-image: url("img/backgroundpotrait.png");
    background-size: cover;
    background-position: center; */
  }
  .skills ul{
    padding: 10px;
  }
  .bgvid{
    top: 10px;
    right: 20px;
  }
}
@media screen and (min-width: 1025px), 
       screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* body {
    background-image: url("img/background.png");
    background-size: cover;
    background-position: center;
  } */
}


