@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*
{
    font-family: "JetBrains Mono", monospace;
    background-color: #F9EFEF;
}
/* Navigation bar design */
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    padding: 10px 40px;
    justify-content: right;
    font-size: 20px;
    margin: 0;
    border-bottom: 1px solid black;
}
/* ------------------------ */
/* Front panel */
.front {
    display: flex;
    gap: 20px;
}
.about {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    padding: 40px;
}
.about h1{
    font-size: 40px;
    position: relative;
    right: 20px;
}
.about p{
    color: rgb(97, 95, 95);
}
/* ----------- */
/* Front profile pic */
img{
    width: 30vw;
    margin: 35px;
    position: relative;
    left: 50px;
}
/* ------------------------ */
/* Responsive */
@media only screen and (max-width: 1020px) {
    .front {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img {
        position: static;
        height: 320px;
        margin: 20px;
        width: 250px;
    }
}
