@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*
{
    font-family: "JetBrains Mono", monospace;
    /*background-color: #333232;*/
    color: white;
    animation: onload 3s ease-in-out -1s;
}

body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
}


/* Navigation bar design */
nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    padding: 10px 40px;
    justify-content: right;
    font-size: 20px;
    margin: 0;
    border-bottom: 1px solid black;
}
/* ------------------------ */
/* Front panel */
.front {
    display: flex;
    gap: 20px;
    transform: scale(0.8);
    padding: 0;
}
.about {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    padding: 40px;
}
.about h1{
    font-size: 40px;
    position: relative;
    right: 20px;
}
.about p{
    color: rgb(194, 192, 192);
    font-size: 1.5em;
}
/* ----------- */
/* Front profile pic */
.front img{
    width: 23vw;
    margin: 35px;
    position: relative;
    left: 50px;
    transform: scale(1,1);
    transition: transform 2s ease;
}
img:hover {
    transform: scale(0.9,0.9);
    cursor: crosshair;
}
/* ------------------------ */
/* Experience */
.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    transform: scale(0.9);
}
.experience ul{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    list-style: none;
    padding-left: 0px;
    margin: 10px;
}
.experience li, li > h2, li > h3, li > p{
    background-color: rgb(248, 243, 243);
    color: #161615;
    width: 30vw;
    font-size: 100%;
    text-align: center;
}
.experience li {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 10px 10px grey;
    transform: scale(1,1);
    transition: transform 2s ease;
}

.experience li:hover{
    transform: scale(0.9,0.9);
    cursor: crosshair;
}
.experience h2{
    font-size: 1.75em;
}
/* ------------------------ */
/* Animation key frame */
@keyframes onload {
    from {
        filter: blur(4px);
    }
    to {
        filter: blur(0px);
    }
}
/* ------------------------ */

/* Footer styling */
footer {
    position: relative;
    bottom: 0;
    padding: 10px 0px;

    margin: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social ul{
    list-style: none;
    height: 5vh;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}   
.social li{
    display: flex;
    width: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.social img {
    position: static;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
    transform: scale(1.2);
}
.made {
    color: #161615;
    background-color: rgb(248, 243, 243);
    width: 200px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 30px;
    box-shadow: 5px 5px grey;
    transform: scale(1,1);
    transition: transform 2s ease;
}
.made:hover {
    transform: scale(0.9,0.9);
    cursor: crosshair;
}




/* Responsive */
@media only screen and (max-width: 1020px) {
    .front {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .front img {
        position: static;
        /* height: 320px; */
        margin: 20px;
        /* width: 250px; */
        width: 60vw;
    }
    .front p{
        font-size: 20px;
    }
    
}
@media only screen and (max-width: 590px) {
    .experience ul{
        gap: 20px;
    }
    .experience li{
        width: 60vw;
        margin: -5% 5%;
        transform: scale(0.7);
    }
    .experience li, li > h2, li > h3, li > p{
    width: 90%;
}
}
@media only screen and (max-width: 1360px) {
    body {
        background-image: url(backgroundpotrait.png);
        background-size: cover;
    }
}